## Tables in Python and Jupyter

How to print data tables with **tabulate** and **astropy** packages

In [2]:
import numpy as np
from tabulate import tabulate
from astropy.table import Table

In [5]:
#Generate an array of x and y values
x = np.linspace(-2.0, 2.0, 10) #generate 10 values between -2 and +2
y = 1.0 / (1.0 + x**2)

Table using tabulate

In [9]:
#create a list of tuples containing x and y values
table_data = [(a,b) for a,b in zip(x,y)]

#Print the table using tabulate
table_headers = ['x', 'y']
print(tabulate(table_data,  headers = table_headers, floatfmt=".3f"))

     x      y
------  -----
-2.000  0.200
-1.556  0.292
-1.111  0.448
-0.667  0.692
-0.222  0.953
 0.222  0.953
 0.667  0.692
 1.111  0.448
 1.556  0.292
 2.000  0.200

Table using astropy

In [14]:
#Create an Astropy Table
data_table = Table()      #create empty astropy table
data_table["x"] = x
data_table["y"] = y

data_table["x"].format = "{:.3f}"
data_table["y"].format = "{:.3f}"

print(data_table)

  x      y
------ -----
-2.000 0.200
-1.556 0.292
-1.111 0.448
-0.667 0.692
-0.222 0.953
 0.222 0.953
 0.667 0.692
 1.111 0.448
 1.556 0.292
 2.000 0.200

In [16]:
data_table.show_in_notebook()

Read and Write table in file using ASCII

In [18]:
from astropy.io import ascii

ascii.write(data_table, 'table_ascii.txt', format='commented_header', overwrite=True)

In [20]:
data_ascii = ascii.read('table_ascii.txt')
print(data_ascii)

  x      y
------ -----
  -2.0   0.2
-1.556 0.292
-1.111 0.448
-0.667 0.692
-0.222 0.953
 0.222 0.953
 0.667 0.692
 1.111 0.448
 1.556 0.292
   2.0   0.2

Write a table using numpy

In [23]:
np.savetxt('table_numpy.txt', data_table)

In [24]:
data_numpy = np.loadtxt('table_numpy.txt')
print(data_numpy)

[[-2.          0.2       ]
 [-1.55555556  0.29241877]
 [-1.11111111  0.44751381]
 [-0.66666667  0.69230769]
 [-0.22222222  0.95294118]
 [ 0.22222222  0.95294118]
 [ 0.66666667  0.69230769]
 [ 1.11111111  0.44751381]
 [ 1.55555556  0.29241877]
 [ 2.          0.2       ]]

In [26]:
data_unpack = np.loadtxt('table_numpy.txt', unpack = True, skiprows=2, usecols=(0))
print(data_unpack)

[-1.11111111 -0.66666667 -0.22222222  0.22222222  0.66666667  1.11111111
  1.55555556  2.        ]